<table class="table" style="margin-left:-15px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN #</th>
            <th scope="col">Course ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{details?.id}}</td>
            <td>{{details?.name}}</td>
            <td>{{details?.email}}</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>{{details?.id}}</td>
            <td>{{details?.name}}</td>
            <td>{{details?.email}}</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>