<h3>All Books</h3>
<table class="table" style="margin-left:-15px;">
        <thead class="thead-dark">
          <tr>
            <th class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">Name</th>
            <th class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">Author</th>
            <th class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">ISBN #</th>
            <th class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">Course ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of allBooks; let i = index;">
            <td>{{items.bookName}}</td>
            <td>{{items.bookAuthor}}</td>
            <td>{{items.bookIsbn}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>