<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{book.bookName}}</h2></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>ISBN:</dt>
      <dd>{{book.bookIsbn}}</dd>
      <dt>Author:</dt>
      <dd>{{book.bookAuthor}}</dd>
      <dt>Name:</dt>
      <dd></dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/book-edit', book._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteBook(book._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>