<div>
  <div id="purchased">
    <b>Subscribed....</b>
    <div class="container" style="margin-left: 0px; padding-left: 0px;">
      <mat-card class="col-xs-3 example-card margin-1"  *ngFor="let items of allBooks">
        <mat-card-header>
        <mat-card-title>{{items?.bookName}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>OPEN</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>  
    <br/>
    <br/>

  <div id="available">
    Books available to Purchased....
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>
</div>