.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
    box-sizing: border-box;
}
.cardList > *:not(:last-child) {
    margin-right: 32px;
}
/* Item sizing */
.cardListItem {
    flex: 0 1 calc(33.3% - 32px);
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-size: cover;
}

.margin-1 {
    margin:0.6em;
}