<h2>{{book?.bookName}}</h2>

<div *ngIf="isLoaded" style="text-align: center;">
  <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
  <span>{{ page }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
</div>

<div class="pdf-container" style="width: 850px;height: 1000px;">
  <pdf-viewer [src]="src"
              [original-size]="false"
              [page]="page"
              [fit-to-page]="true"
              [show-all]="false"
              (after-load-complete)="afterLoadComplete($event)"
              
  ></pdf-viewer>
</div>


